.logo {
    width:84px; height:27px ;
}

.topnav {
    display: flex;
    width: 450px;
    justify-content: space-between;
    margin-right: 350px;
    align-items: center;

}

.titlebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%,41%);
    height: 50px;
}

.login button{
    border-radius: 12px;
    background-color: white;
    padding: 8px 15px;
    display: inline-block;
    ;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 120px;
    justify-content: space-between;
    align-items: flex-start;
}

h1{
    font-weight: 900;
    font-size: 70px;
}

.sub{
    font-size: 20px;
}

.text button{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px
}

.clients{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.heroImage{
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.login{
    display:flex;
    align-items: center;
    width:200px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    text-align: center;
    padding: 5px 10px;
    border-radius: 12px;
}

a:hover{
    background-color: hsl(61, 73%, 59%);
}

.dropbtn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.dropdown{
    position: relative;
    display: inline-block;
    color: hsl(0, 0%, 41%)
    ;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}    

.dropdown:hover .dropdown-content {
    display: block;}