.logo {
    width:84px; height:27px ;
}

.topnav {
    display: flex;
    width: 450px;
    justify-content: space-between;
    margin-right: 350px;

}

.titlebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login button{
    border-radius: 12px;
    background-color: white;
    padding: 8px 15px;
    display: inline-block;
    margin-left: 30px;
}

.hero{
    display: flex;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 120px;
    justify-content: space-between;
    align-items: flex-start;
}

h1{
    font-weight: 900;
    font-size: 70px;
}

.sub{
    font-size: 20px;
}

.text button{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px
}

.clients{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.heroImage{
    display: flex;
    align-items: center;
}